# local package
-e .

# external requirements
pandas
#logging
numpy 
pathlib 
scikit-learn
joblib
black
dvc[s3]
notebook
statsmodels
category-encoders
seaborn
mlflow
kubernetes
PyJWT
uvicorn[standard]
fastapi[standard]
passlib
pytest
prometheus-client
streamlit